###### In this project the dataset contains video games sold by a retailer and earnings for each video game.
##### We will use the data to train our 3-layer Neural Network(NN) to predict how much we expect future video games to earn.
* Each column represents a game attribute
* Each row represents a game sold in the past
##### We look at each characteristic of the game to predict expected earnings.

### Preprocess Data
We first start by scaling our data using the MinMaxScaler from the sklearn library

In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import io

In [3]:
# Load training data set from csv file
from google.colab import files
training_file = files.upload()

Saving sales_data_training.txt to sales_data_training.txt

In [6]:
train_df = pd.read_csv(io.StringIO(training_file['sales_data_training.txt'].decode('utf-8')))
train_df.head()

   critic_rating  is_action  ...  total_earnings  unit_price
0            3.5          1  ...          132717       59.99
1            4.5          0  ...           83407       49.99
2            3.0          0  ...           62423       49.99
3            4.5          1  ...           69889       39.99
4            4.0          1  ...          161382       59.99

[5 rows x 10 columns]

In [7]:
# Load testing data set from CSV file
testing_file = files.upload()

Saving sales_data_test.txt to sales_data_test.txt

In [8]:
test_df = pd.read_csv(io.StringIO(testing_file['sales_data_test.txt'].decode('utf-8')))
test_df.head()

   critic_rating  is_action  ...  total_earnings  unit_price
0            3.5          1  ...          247537       59.99
1            2.5          0  ...           73960       59.99
2            3.5          0  ...           82671       59.99
3            4.0          1  ...          137456       39.99
4            2.0          1  ...           89639       59.99

[5 rows x 10 columns]

In [9]:
# Initialize the scaler from range(0, 1)
scaler = MinMaxScaler(feature_range=(0,1))

# Scaling the data with fit and transform
# Returned: Transformed Array
scaled_train = scaler.fit_transform(train_df)

#Using transform instead of fit_transfrom allows the scaler to scale down the test data in the same measure as the train data
scaled_test = scaler.transform(test_df)

In [10]:
scaled_train_df = pd.DataFrame(scaled_train,columns = train_df.columns.values)
scaled_test_df = pd.DataFrame(scaled_test, columns = test_df.columns.values)

In [12]:
# split the data columns for predictors and labels  
X = scaled_train_df.drop('total_earnings', axis=1).values
y = scaled_train_df[['total_earnings']].values

#import the required libraries for model training
from keras.models import Sequential
from keras.layers import Dense

In [18]:
model = Sequential([Dense(64, input_dim = 9, activation = 'relu'),
                    Dense(100, activation= 'relu'),
                    Dense(100, activation= 'relu'),
                    Dense(1, activation= 'linear')
])
model.compile(optimizer='adam', loss='mse')

In [19]:
model.fit(X, y, shuffle=True, verbose=1, epochs= 50)

Epoch 1/50
32/32 [==============================] - 0s 1ms/step - loss: 0.0052
Epoch 2/50
32/32 [==============================] - 0s 2ms/step - loss: 7.0564e-04
Epoch 3/50
32/32 [==============================] - 0s 1ms/step - loss: 2.6384e-04
Epoch 4/50
32/32 [==============================] - 0s 1ms/step - loss: 1.6703e-04
Epoch 5/50
32/32 [==============================] - 0s 1ms/step - loss: 1.4602e-04
Epoch 6/50
32/32 [==============================] - 0s 1ms/step - loss: 9.2610e-05
Epoch 7/50
32/32 [==============================] - 0s 1ms/step - loss: 7.7635e-05
Epoch 8/50
32/32 [==============================] - 0s 1ms/step - loss: 1.1100e-04
Epoch 9/50
32/32 [==============================] - 0s 1ms/step - loss: 1.1787e-04
Epoch 10/50
32/32 [==============================] - 0s 2ms/step - loss: 1.0910e-04
Epoch 11/50
32/32 [==============================] - 0s 1ms/step - loss: 6.4055e-05
Epoch 12/50
32/32 [==============================] - 0s 1ms/step - loss: 5.7508e-05
Epoch 13/50
32/32 [==============================] - 0s 1ms/step - loss: 4.8022e-05
Epoch 14/50
32/32 [==============================] - 0s 1ms/step - loss: 5.3525e-05
Epoch 15/50
32/32 [==============================] - 0s 1ms/step - loss: 6.0125e-05
Epoch 16/50
32/32 [==============================] - 0s 1ms/step - loss: 1.0481e-04
Epoch 17/50
32/32 [==============================] - 0s 1ms/step - loss: 9.1208e-05
Epoch 18/50
32/32 [==============================] - 0s 1ms/step - loss: 3.5335e-05
Epoch 19/50
32/32 [==============================] - 0s 2ms/step - loss: 3.6159e-05
Epoch 20/50
32/32 [==============================] - 0s 1ms/step - loss: 5.6000e-05
Epoch 21/50
32/32 [==============================] - 0s 1ms/step - loss: 5.1235e-05
Epoch 22/50
32/32 [==============================] - 0s 1ms/step - loss: 4.4348e-05
Epoch 23/50
32/32 [==============================] - 0s 1ms/step - loss: 5.7386e-05
Epoch 24/50
32/32 [==============================] - 0s 1ms/step - loss: 1.5383e-04
Epoch 25/50
32/32 [==============================] - 0s 1ms/step - loss: 1.1442e-04
Epoch 26/50
32/32 [==============================] - 0s 1ms/step - loss: 1.4059e-04
Epoch 27/50
32/32 [==============================] - 0s 1ms/step - loss: 8.1738e-05
Epoch 28/50
32/32 [==============================] - 0s 1ms/step - loss: 4.5417e-05
Epoch 29/50
32/32 [==============================] - 0s 1ms/step - loss: 5.8479e-05
Epoch 30/50
32/32 [==============================] - 0s 2ms/step - loss: 6.4036e-05
Epoch 31/50
32/32 [==============================] - 0s 1ms/step - loss: 5.5499e-05
Epoch 32/50
32/32 [==============================] - 0s 1ms/step - loss: 7.1463e-05
Epoch 33/50
32/32 [==============================] - 0s 1ms/step - loss: 6.4281e-05
Epoch 34/50
32/32 [==============================] - 0s 1ms/step - loss: 6.8287e-05
Epoch 35/50
32/32 [==============================] - 0s 1ms/step - loss: 8.9066e-05
Epoch 36/50
32/32 [==============================] - 0s 1ms/step - loss: 3.8512e-05
Epoch 37/50
32/32 [==============================] - 0s 1ms/step - loss: 3.3644e-05
Epoch 38/50
32/32 [==============================] - 0s 1ms/step - loss: 3.9421e-05
Epoch 39/50
32/32 [==============================] - 0s 2ms/step - loss: 3.3145e-05
Epoch 40/50
32/32 [==============================] - 0s 1ms/step - loss: 2.7772e-05
Epoch 41/50
32/32 [==============================] - 0s 1ms/step - loss: 3.1043e-05
Epoch 42/50
32/32 [==============================] - 0s 1ms/step - loss: 3.9122e-05
Epoch 43/50
32/32 [==============================] - 0s 1ms/step - loss: 5.9543e-05
Epoch 44/50
32/32 [==============================] - 0s 1ms/step - loss: 3.7552e-05
Epoch 45/50
32/32 [==============================] - 0s 1ms/step - loss: 5.9048e-05
Epoch 46/50
32/32 [==============================] - 0s 1ms/step - loss: 7.6651e-05
Epoch 47/50
32/32 [==============================] - 0s 1ms/step - loss: 4.1821e-05
Epoch 48/50
32/32 [==============================] - 0s 1ms/step - loss: 3.2451e-05
Epoch 49/50
32/32 [==============================] - 0s 2ms/step - loss: 4.8714e-05
Epoch 50/50
32/32 [==============================] - 0s 1ms/step - loss: 6.0236e-05

In [20]:
# Load the test data set
X_test = scaled_test_df.drop('total_earnings', axis=1).values
y_test = scaled_test_df[['total_earnings']].values

In [22]:
test_error = model.evaluate(X_test, y_test, verbose=0)
print("The mean squared error (MSE) for the test data set is: {}".format(test_error))

The mean squared error (MSE) for the test data set is: 0.00012324596173129976